.wrapper{
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.button{
    background: var(--tg-theme-button-color, #8774e1);
    color: var(--tg-theme-button-text-color, #ffffff);
    height: 34px;
    width: 34px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    flex-shrink: 0;
    font-weight: bold;
}

.value{
    background: var(--tg-theme-bg-color, #212121);
    color: var(--tg-theme-text-color, #ffffff);
    filter: brightness(85%);
    font-size: 12px;
    line-height: 34px;
    padding: 0;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}
